.app {
    font-family: "Roboto Condensed";
    background: #f8fafc;
    background-image: linear-gradient(
        60deg,
        hsl(153, 100%, 95%),
        hsl(228, 100%, 95%),
        hsl(0, 87%, 95%)
    );
    height: 100%;
    padding-top: 0.5rem;
    &__container {
        max-width: 670px;
        margin: 0 auto;
        padding-bottom: 3rem;
        & > * + * {
            margin-top: 3.25rem;
        }
    }
    &__title {
        font-size: 2.25rem;
        font-weight: 400;
        margin-bottom: 1.25rem;
        text-transform: uppercase;
        text-align: center;
    }
    &__titlebar {
        font-weight: 700;
        font-size: 1.5rem;
        padding: 1.25rem 2.5rem;
        margin: 0 0.5rem 0.5rem;
        width: fit-content;
        border-radius: 1rem;
        background-color: #18214d;
        color: #fff;
        box-shadow: 0 4px 16px -1px rgba(200, 200, 200, 0.5);
    }
    &__worldwide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__statcards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    &__cardrow {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        & > * {
            flex: 1 1 0px;
            margin: 0.9375rem;
        }
    }

    &__statistics {
    }
    &__checkboxes {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 0.5rem;
    }
    &__searchbar {
        width: fit-content;
        display: flex;
        align-items: center;
        color: #666;
        background: #f1f1f1;
        padding: 0.625rem;

        & > input {
            max-width: 160px;
            padding-left: 4px;
            &:focus {
                outline: none;
            }
        }
        &:focus-within {
            outline: none;
            box-shadow: 0 0 2px hsl(0, 0%, 35%);
        }
    }
    &__searchbar > input,
    &__dropdown {
        font-family: inherit;
        font-weight: 300;
        font-size: 1.25rem;
        border: none;
        background: #f1f1f1;
        border-radius: 0.5rem;
    }
    &__dropdown {
        color: #666;

        text-transform: uppercase;
        padding: 0.625rem 0.9375rem;
        &:focus {
            outline: none;
            box-shadow: 0 0 2px hsl(0, 0%, 35%);
        }
    }
    &__tableprops {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        & > * {
            margin: 0 0.75rem 1rem;
        }
    }
    &__table {
        &__orderby {
            display: flex;
            align-items: center;
            justify-content: center;
            & > * + * {
                margin-left: 4px;
            }
        }
    }
    &__button {
        &--active {
            background: #333;
        }
    }
}
